.map{
 max-width: calc(100%/3);
}

body{
  background-color: #2D4059
  !important;
}

.svgMap-map-wrapper{
  background-color: #2D4059
  !important;

  box-shadow: #333 5px 5px;
}


.svgMap-map-controls-wrapper{
  left: calc((50%) - 30px) !important;
}